
LES Almoxarifado/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LES Almoxarifado/obj/Debug/LES Almoxarifado.csproj.AssemblyReference.cache
.vs/LES Almoxarifado/v16/.suo
LES Almoxarifado/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LES Almoxarifado/obj/Debug/LES Almoxarifado.csproj.AssemblyReference.cache
