<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="oraExampleStrConex" value="Data Source = (Description = (ADDRESS = (PROTOCOL = TCP) (HOST = {0}) (PORT = {1})) (CONNECT_DATA = (SERVER = {2}) (SERVICE NAME = {3})));USER ID = {4};PASSWORD = {5};"/>
    <add key="oraStrConex" value="Data Source = (Description = (ADDRESS = (PROTOCOL = TCP) (HOST = 192.168.1.195) (PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE NAME = XE)));USER ID = almoxarifado;PASSWORD = sacimanco;"/>
    <add key="oraHost" value=""/>
    <add key="oraPort" value=""/>
    <add key="oraServerType" value=""/>
    <add key="oraServiceName" value=""/>
    <add key="oraUser" value=""/>
    <add key="oraPass" value=""/>
  </appSettings>
</configuration>
